*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 88vh;
    margin: 2px;    
}

aside{
    width: 20vw;
    height: 98vh;
    float: left;
}

.box-degrade{    
    background-image: linear-gradient(to left, #4b6cb7, #182848);
    background-size: 500% 100%;
    animation: degrade-animado 5s infinite alternate;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
}

aside figure{
    margin: 50% 2.5vw 0 2.5vw;   
}

#perfil{
    width: 15vw;
    border: #ffffff solid 2px;
    border-radius: 74% 26% 65% 35% / 31% 64% 36% 69%;    
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in; 
    -o-transition: .5s ease-in;
    transition: .5s ease-in
}

#perfil:hover{
    width: 16vw;
    border: #c8d608ec solid 2px;    
    border-radius: 31% 64% 36% 69% / 74% 26% 65% 35%;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);    
}

.menu{
    text-align: center;
}
.menu a{
    font-size: 1.5em;
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: .5s ease-in;
     -moz-transition: .5s ease-in;
     -o-transition: .5s ease-in;
     transition: .5s ease-in
}

.menu a:hover{
    color: #182848;
    font-size: 2em;
    -webkit-transition: .5s ease-in;
     -moz-transition: .5s ease-in; 
     -o-transition: .5s ease-in;
     transition: .5s ease-in
}

.conteudo{
    width: 78vw;
    padding-left: 20px;
    float: right;
    font-size: 2em;
    margin: 5% 0;
}
/*--------------------------------------*/
#dados-pessoais img{
    width: 32px;
    display: inline;     
}

#dados-pessoais a{
    text-decoration: none;
    color: black;
}

#dados-pessoais p{
    font-size: 1em;
}
/*--------------------------------------*/
#conhecimentos{
    padding-left: 35px;
}

#conhecimentos ol{
    list-style-type:upper-latin; 
    font-size: 1em;   
}

#conhecimentos-img img{
    position: absolute;
    left: 60%;
    top: 20%;
    width: 320px;
    height: 320px;
}
/*--------------------------------------*/
#objetivo figure img{
    position: absolute;
    left: 80%;
    top: 70%;
    width: 150px;
    height: 150px;
}

#Ob-profissionais{
    float: left;
    width: 35vw;
    margin-right: 20px;
}

#Ob-pessoais{
   float: right;
   width: 35vw;    
}

small{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.objetivo {
    margin-left: 5vw;
    text-align: start;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
}

small a:hover{
   /* box-shadow: 4px 30px 16px 0px rgba(50, 50, 50, 0.45);**/
	animation: bounce 1s;
}
   
@keyframes degrade-animado{
    0%{
        background-position-x: 0%;
    }

    100%{
        background-position-x: 100%;
    }
}

@keyframes bounce{
	50%{
		transform: translateY(-10px);
	}
	100%{
		transform: translateY(0px);
	}
}